
<div class="jumbotron">
  <h1>Lorem Ipsum</h1>
  <p> <%= Faker::Lorem.paragraph %> </p>
  <p><a class="btn btn-default btn-lg" href="/about">Learn more</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="left_grid_landing">
      <h3> <%= Faker::Lorem.sentence %> </h3>
      <p> <%= Faker::Lorem.paragraph %> </p>
      <p> <%= Faker::Lorem.paragraph %> </p>
      <p> <%= Faker::Lorem.paragraph %> </p>
      <p> <%= Faker::Lorem.paragraph %> </p>
    </div>
    <div class="col-md-6" id="left_grid_landing">
      <h3> <%= Faker::Lorem.sentence %> </h3>
      <p> <span class="glyphicon glyphicon-user"> <%= Faker::Lorem.paragraph %> </p>
      <p> <span class="glyphicon glyphicon-phone"> <%= Faker::Lorem.paragraph %> </p>
      <p> <span class="glyphicon glyphicon-hdd"> <%= Faker::Lorem.paragraph %> </p>
      <p> <span class="glyphicon glyphicon-leaf"> <%= Faker::Lorem.paragraph %> </p>
    </div>
  </div>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://i.imgur.com/3Ul3JlD.jpg" alt="First slide" >
      <div class="carousel-caption">
           <h3>cool</h3>
    	<p>bean</p>
      </div>
    </div>

    <div class="item">
      <img src="http://i.imgur.com/3Ul3JlD.jpg" alt="Second slide" >
        <div class="carousel-caption">
          <h3>thing</h3>
      	   <p>two</p>
        </div>
    </div>

    <div class="item">
      <img src="http://i.imgur.com/3Ul3JlD.jpg" alt="Third slide" >
        <div class="carousel-caption">
          <h3>thing</h3>
           <p>two</p>
        </div>
    </div>
  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class="profile_pic" src="http://i.imgur.com/4gwJQJs.jpg" />
      <h3> <span class="glyphicon glyphicon-user"> <%= Faker::Company.catch_phrase %> </h3>
      <p> <%= Faker::Lorem.paragraph %> </p>
    </div>
    <div class="col-md-3">
      <img class="profile_pic" src="http://i.imgur.com/AxEnZHy.jpg">
      <h3> <span class="glyphicon glyphicon-user"> <%= Faker::Company.catch_phrase %> </h3>
      <p> <%= Faker::Lorem.paragraph %> </p>
    </div>
    <div class="col-md-3">
      <img class="profile_pic" src="http://i.imgur.com/VDM5giM.jpg">
      <h3> <span class="glyphicon glyphicon-user"> <%= Faker::Company.catch_phrase %> </h3>
      <p> <%= Faker::Lorem.paragraph %> </p>
    </div>
    <div class="col-md-3">
      <img class="profile_pic" src="http://i.imgur.com/h64F8HR.jpg">
      <h3> <span class="glyphicon glyphicon-user"> <%= Faker::Company.catch_phrase %> </h3>
      <p> <%= Faker::Lorem.paragraph %> </p>
    </div>
  </div>
</div>

<br>
<br>