<h1>New Skill</h1>
<%= form_for @skill, :html => {:id => "new_skill"} do |f|%>
<%= f.label :skill %>
<%= f.text_field :skill%>
<%= f.label :tolearn %>
<%= f.text_field :tolearn %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.submit%>
<% end %>