<% content_for :body_type do%>
  userprofile
<% end %>

<div class="profilejumbotron">
	<div id="profilepicture">
		<img src="<%= @current_user.pic%>" class="circular" />
	</div>
</div>

<div class="profilepagecontainer">
<div class="profileinfo">
	<h1 style="color:white"><%= current_user.username.capitalize %></h1>
	<h3 style="color:white"> Lives in <%= current_user.zipcode.to_region%> </h3 style="color:white"s>
	<h4 style="color:white"> Contact: <%= current_user.email %></h4>
	<%= link_to "Add Skill", new_skill_path, :class => 'btn btn-default' %>
</div>

<div class="col-md-6 col-md-offset-4" id="profilebio">
	<h1 style="color:white">Bio:</h1> <p style="color:white"><%= @current_user.bio %></p>
		<h1 style="color:white"><%= current_user.username.capitalize %>'s Skills:</h1>
	<ul>
	  <% @user_skill.each do |s| %>
	    <li><h4 style="color:white"><b><%= s.tag.upcase %></b>: <%=s.skill.capitalize%></h4>
	   	</li> 
	  <% end %>
	</ul>
		<h1 style="color:white"><%= current_user.username.capitalize %> wants to learn:</h1>
	<ul>
	  <% @user_skill.each do |s| %>
	    <li><h4 style="color:white"><b><%= s.learntag.upcase %></b>: <%=s.tolearn.capitalize %></h4></li>
	  <% end %>
	</ul>
</div>
</div>

</div>