<br>
<br>
<img src="<%= @user.pic%>" class="circular" />
<h1><%= @user.username.capitalize %></h1>
<h3> Lives in <%= @user.zipcode.to_region%> </h3>
<p>Contact: <%= @user.email %></p>
<br>


<br>

<h1>Bio:</h1> <%= @user.bio %>

<br>
<br>

<h1>Skills</h1>
<ul>
  <% @user_skill.each do |s| %>
    <li><%=s.skill%> - <%= s.tag %></li> 
  <% end %>
</ul>

<h1>Wants to Learn:</h1>
<ul>
  <% @user_skill.each do |s| %>
    <li></b><%=s.tolearn%> - <%= s.learntag %></li>
  <% end %>
</ul>