<% content_for :body_type do%>
  publicprofile
<% end %>

<div class="profilejumbotron">
	<div id="profilepicture">
		<img src="<%= @user.pic%>" class="circular" />
	</div>
</div>

<div class="profilepagecontainer">
<div class="profileinfo">
	<h1 style="color:white"><%= @user.username.capitalize %></h1>
	<h3 style="color:white"> Lives in <%= @user.zipcode.to_region%> </h3>
	<h4 style="color:white"> Contact: <%= @user.email %></h4>
</div>

<div class="col-md-6 col-md-offset-4" id="profilebio">
	<h1 style="color:white">Bio:</h1> <p style="color:white"><%= @user.bio %></p>
		<h1 style="color:white"><%= @user.username.capitalize %>'s Skills:</h1>
	<ul>
	  <% @user_skill.each do |s| %>
	    <li><h4 style="color:white"><b><%= s.tag.upcase %></b>: <%=s.skill.capitalize%></h4>
	   	</li> 
	  <% end %>
	</ul>
		<h1 style="color:white"><%= @user.username.capitalize %> wants to learn:</h1>
	<ul>
	  <% @user_skill.each do |s| %>
	    <li><h4 style="color:white"><b><%= s.learntag.upcase %></b>: <%=s.tolearn.capitalize %></h4></li>
	  <% end %>
	</ul>
</div>
</div>

</div>