<% content_for :body_type do%>
	resultspage
<% end %>

<h1 style="text-align:center">Search Results:</h1>

<div class="resultscontainer">
	<% @skills.each do |s| %>
	<div class= "col-md-6" id="userresults_<%=s[:user_id] %>">
		<div id="resultspic">
			<img src="<%= s.user.pic %>" class="circular" />
		</div>	
		
		<div id="resultsinfo">
			<h1><%= link_to s.user.username, public_profile_path(s.user.id) %></h1>
			<h3><b>Lives in:</b> <%= s.user.zipcode.to_region %></h3>
			<h3><b>Distance:</b> <%= distance_to_zipcode s.user.zipcode %></h3>
			<% s.user.skills.each do |sk| %>
				<h3><b>Skills:</b> <%= sk.skill %></h3>
		</div>
	</div>
			<% end %>
	<% end %>
</div>



